<nav>
  <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/submissoes/">Submissões</a></li>
        <li><a href="/submissoes/new/">Nova Submissão</a></li>
        <li><a href="/autor/">Autores</a></li>
        <li><a href="/autor/new/">Novo Autor</a></li>
      </ul>
  </div>
</nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/submissoes/">Submissões</a></li>
    <li><a href="/submissoes/new/">Nova Submissão</a></li>
    <li><a href="/autor/">Autores</a></li>
    <li><a href="/autor/new/">Novo Autor</a></li>
  </ul>
